@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Noto+Sans:wght@400;700&family=Ubuntu+Mono&display=swap');
@import url('https://unpkg.com/reset-css/reset.css');

:root {
  --default-font: 'Noto Sans', sans-serif;
  --almost-black: rgba(0, 0, 0, 0.85);
  --dark-gray: rgba(0, 0, 0, 0.7);
  --gray: rgba(0, 0, 0, 0.55);
  --card-border: rgba(0, 0, 0, 0.1);
  --shadow: rgba(0, 0, 0, 0.05);
}

html,
body,
main {
  height: 100%;
}

main {
  padding: 3rem;
  background: white;
  color: black;
  font-family: var(--default-font);
  line-height: 1.25;
  text-align: center;
  box-sizing: border-box;
}

main .card {
  margin-bottom: 3rem;
}

main .card:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', var(--default-font);
}

h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--almost-black);
}

h2 {
  margin-bottom: 1.5rem;
  color: var(--dark-gray);
}

@media (min-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.7rem;
  }
}

p {
  margin-bottom: 1rem;
  color: var(--almost-black);
}

button,
a.button {
  padding: 0.5rem 2rem;
  background: black;
  color: white;
  border: none;
  border-radius: 0.3rem 1rem;
  font-size: 1rem;
  text-decoration: none;
}

.flex {
  display: flex;
}

.flex.row {
  flex-direction: row;
}

.flex.column {
  flex-direction: column;
}

.flex.center {
  justify-content: center;
  align-items: center;
}

.clickable:hover {
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  animation: 1.5s pulse infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
  }
  40% {
    box-shadow: 0 0 0 0.5rem transparent;
  }
  70% {
    box-shadow: 0 0 0 0 transparent;
  }
}

.hovering {
  animation: 1.5s ease-in-out hover infinite alternate;
}

@keyframes hover {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-0.3rem);
  }
}

.card {
  width: 100%;
  max-width: 70rem;
  padding: 3rem;
  border: 1px solid var(--card-border);
  border-radius: 0.5rem 3rem;
  box-shadow: 0.5rem 0.5rem var(--shadow);
  box-sizing: border-box;
}

.avatar {
  margin-bottom: 2rem;
  border-radius: 5rem;
  height: 8rem;
  box-shadow: 0.5rem 0.5rem var(--shadow);
}

@media (min-width: 600px) {
  .avatar {
    height: 10rem;
  }
}

.buttons {
  flex-direction: column;
  margin-top: 2rem;
}

.buttons > * {
  margin-right: 0;
  margin-bottom: 1rem;
}

.buttons :last-child {
  margin-top: 0;
}

@media (min-width: 400px) {
  .buttons {
    flex-direction: row;
  }

  .buttons > * {
    margin-bottom: 0;
    margin-right: 1rem;
  }

  .buttons :last-child {
    margin-right: 0;
  }
}
